<app-header
  _video="sky-timelapse"
  [bgVideo]="true"
  [verticalNav]="false"
></app-header>

<mat-card class="bio-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-image"></div>
    <mat-card-title>Paul Scott</mat-card-title>
    <mat-card-subtitle>Full-Stack Software Developer</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="/assets/images/profile-img.jpg"
    alt="Photo of Paul Scott"
  />
  <mat-card-content>
    <p class="bold-greeting">How I Got Into Development ⌨</p>
    <p class="text-format">
      I used to create 3D animations with Blender and even tried game
      development with Unity. I was always intrigued by how web and mobile
      applications were made. I eventually did a google search which caused me
      to stumble upon web development and FreeCodeCamp. Once I discovered the
      possibilities, I was sold.
    </p>

    <p class="bold-greeting">How About Now? 📈</p>
    <p class="text-format">
      I enjoy learning new technologies and using my skills to build real-world
      products that can grow a client's business or help a friend with their app
      idea.
    </p>

    <p class="text-format">
      I currently specialize in Vue for the frontend and Node on the backend.
      Other technologies I've picked up along the way are Nuxt, Angular,
      TypeScript, AWS (RDS & S3), Ubuntu Linux, Nginx, Docker, and SQL.
    </p>
  </mat-card-content>
</mat-card>
