.bio-card {
  margin: 50px auto;
  max-width: 500px;
}

.profile-image {
  background-image: url("/assets/images/profile-img2.jpg");
  background-position: center;
  background-size: contain;
}

.bold-greeting {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.text-format {
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.3px;
}
