<app-header
  _video="sky-timelapse"
  [bgVideo]="true"
  [verticalNav]="false"
></app-header>

<mat-card class="bio-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-image"></div>
    <mat-card-title>Paul Scott</mat-card-title>
    <mat-card-subtitle>Full-Stack Software Developer</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="/assets/images/profile-img.jpg"
    alt="Photo of Paul Scott"
  />
  <mat-card-content>
    <p class="bold">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt ipsum,
      eius recusandae fugit in cupiditate quis vel quos excepturi quia!
      Repellendus necessitatibus neque eaque cumque quidem. Unde veniam laborum
      saepe?
    </p>

    <p class="bold">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt ipsum,
      eius recusandae fugit in cupiditate quis vel quos excepturi quia!
      Repellendus necessitatibus neque eaque cumque quidem. Unde veniam laborum
      saepe? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>

    <p class="bold">
      Nesciunt ipsum, eius recusandae fugit in cupiditate quis vel quos
      excepturi quia! Repellendus necessitatibus neque eaque cumque quidem. Unde
      veniam laborum saepe?
    </p>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
