.connect-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  // Smaller Screens
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.box-title {
  text-align: center;
  color: #fff;
  font-family: "Bungee Shade", "skranji", "Segoe UI", Verdana, sans-serif;
}

.connect-btn {
  width: 500px;
  height: 300px;
  margin: 20px 50px 50px;
  transition: all 0.3s cubic-bezier(1, 0.41, 0.36, 1.91);

  .icons {
    width: 100px;
    color: #fff;
    opacity: 0.4;
    transition: all 0.3s cubic-bezier(1, 0.41, 0.36, 1.91);
  }
  &:hover {
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.5);
    .icons {
      transform: scale(1.2);
      color: #fff;
    }
  }
}
